/* About */
#about-banner{
    position: relative;
    color: white;
    padding: 0px;
}
.about-image{
    margin: 0px;
    width: 100%;
    height: 45vw;
    object-fit: cover;
}
#about-banner>div{
    position: absolute;
    top: 50%;
    padding: 10px 0px;
    transform: translate(0%, -50%);
    background-image: url('~/public/leaf-texture (2).jpg');
    color: white;
    text-align: center;
    font-family: monospace;
}
#about-banner h2{
    font-size: 3vw;
    margin: 1vw;
}

/* About -> Metrics*/
#metrics-container{
    display: flex;
    justify-content: space-evenly;
}
.metric{
    width: 33.333%;
    border: 1px solid lightgray;
    background-color: aliceblue;
    text-shadow: 0.2vw 0.2vw 0.3vw gray;
}
.metric>h4{
    display: flex;
    justify-content: center;

    font-size: 2vw;
    margin: 1vw 0px 0px 0px;
}
.metric>p{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.5vw;
}
.metric>p>i{
    margin: 0.1vw;
}

/* Mission */
#mission-section{
    padding: 0px;
}
#mission-header{
    margin: 0px;
    font-size: 3vw;
    text-decoration: 3px solid green underline;
    text-underline-offset: 7px;
    text-align: center;
    background-color: aliceblue;
    padding: 10vw;
    color: rgba(55,159,10,1);
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}
#mission-header>.img-smaller{
    width: 5vw;
    margin: auto;
    opacity: 1.2;
}
#mission-body{
    display: flex;
    padding: 0px 5vw;
    background-color: aliceblue;
}
#mission-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}
#mission-text>p{
    font-size: 1.4vw;
    margin: 0px;
    height: 33%;
    padding-right: 1.5vw;
    font-weight: 600;
}
#mission-text>p:nth-child(odd){
    background-color: white;
}
#mission-image{
    position: relative;
    width: 50%;
}
.image-front{
    position: relative;
    margin: 0px;
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
    transition: .3s;
    width: 100%;
    height: auto;
}
.image-behind{
    position: absolute;
    margin: 0px;
    top: 0px;
    left: 0px;
    z-index:0;
    width: 100%;
    height: auto;
}
.image-front:hover{
    opacity: 0;
}

/* Benefits */
#benefits-container{
    padding: 5vw;
    background-color: aliceblue;
}
.benefit{
    display: flex;
    padding: 5vw;
}
.benefit-text{
    width: 65%;
}
.benefit-text>p{
    font-size: 1.8vw;
}
.benefit-image{
    width: 35%;
    display: flex;
    justify-content: center;
}
.benefit-image>img{
    width: 90%;
    height: auto;
}
.benefit-title{
    font-size: 3vw;
    text-decoration: 1vw rgb(103, 3, 103) underline;
    text-underline-offset: 1vw;
    margin-bottom: 1vw;
}

.teardrop {
    width: 5vw;
    height: 5vw;
    float: left;
    margin: 4vw 4vw 2vw 0;
    font-size: 1.6vw;
    color: white;
    background: purple linear-gradient(to bottom right, purple 25%, green);
    text-shadow: 0 0 1vw purple;
    border-radius: 0px 50% 50% 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 6px 6px rgb(128,128,128,0.3);
}

.benefit-image-mini{
    width: 10vw;
    height: auto;
    visibility: hidden;
}

@media screen and (max-width:576px){
    .benefit-title{
        font-size: 4vw;
    }
    
    .benefit-text{
        margin-left: 10%;
        width: 80%;
    }
    .benefit-text>p{
        font-size: 2vw;
    }
    .benefit-image-mini{
        visibility: visible;
    }
    .benefit-image{
        display: none;
    }
    .teardrop {
        margin: 4vw 3vw 1vw 0;
    }
}





