.logos-name>.row{
    vertical-align: middle;
}
.logo-img{
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    padding: 10px;
}
.card-catalogue{
    border: 10px ridge darksalmon;
}

#catalogue-page .card-header{
    height: 80px;
    padding-top: 10px;
    text-align: center;
    background: aliceblue;
    font-family: Helvetica;
}
.carousel-control{
    background-color: darksalmon;
}
.card-header>h4{
    font-size: 1.6em;
    font-weight: bold;
    font-family: Georgia;
}
.card-header>p{
    font-size: 1em;
    font-family: helvetica;
}

@media screen and (max-width: 520px){
    .card-header>h4{
        font-size: 1em;
    }
    .card-header>p{
        font-size: 0.6em;
    }
    .card-header>h5{
        font-size: 0.95em
    }
}