.footer{
    height: 150px;
    background-color: #F8F3EB;
    text-align: center;
    padding-top: 50px;
}
.footer p{
    font-size: .8em;
    font-weight: 200;
}
.footer>ul{
    margin: auto;
    padding: 0px;
}

.fa-2x{
    color: black;
}
.fa-2x:hover{
    scale: 0.9;
    transition: 0.4s;
}

.footer>ul>li>a{
    margin: 10px;
}