ul{
    text-align: center;
}

.footer{
    height: 150px;
    background-color: aliceblue;
    text-align: center;
    padding-top: 50px;
}
.footer p{
    font-size: .8em;
    font-weight: 200;
}
.footer ul{
    margin: auto;
    padding: 0px;
}

.fa-x2{
    color: red;
}

a{
    margin: 10px;
    color:black;
}
a:hover{
    opacity: 50%;
    font-size: 0.9em;
}