#navbar-container{
    position: sticky;
    top: 0px;
    z-index: 2;
}
#navbar{
    position: relative;
    width: 100%;
    height: 12vw;
    display: flex;
    justify-content: flex-start;
    background-color: #F8F3EB;
    z-index: 2;
}
#nav-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
#nav-brand>a{
    width: 90%;
    margin: 0px;
    object-fit: cover;
}
#nav-brand>a>img{
    width: 100%;
    height: auto;
}
#nav-menu{
    position: absolute;
    top: 3.4vw;
    right: 2vw;
    display: flex;
    justify-content: flex-end;
    width: 60%;
    z-index: 3;
}
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.6vw;
    text-decoration: none;
    opacity: 0.65;
}
.nav-link:hover{
    opacity: 0.3;
    scale: 0.9;
    transition: 0.4;
    cursor: pointer;
}
.nav-link>img{
    width: 1.8vw;
    padding: 0.2vw;
    aspect-ratio: 1/1;

}
.nav-link>p{
    margin: auto;
    font-size: 1.4vw;
}
#toggler-container{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 5vw;
    height: 12vw;
}
.navbar-toggler-custom{
    display: none;
    margin: auto 0px auto 40vw;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 3;
    background-color:  #f8f3eb;
}
.navbar-toggler-custom:hover{
    scale: 0.95;
    border: 2px solid black;
}



@media only screen and (max-width: 768px){
    #navbar-container>.hidden{
        max-height: 0;
        transition: max-height 0.4s ease-out;
    }
    #navbar-container>.show{
        max-height: 1500px;
        transition: max-height 0.4s ease-in;
    }
    #navbar-container{
        justify-content: left;
    }
    #navbar{
        height: 115px;
    }
    #nav-menu{
        position: absolute;
        width: 100%;
        display: flex;
        top: 115px;
        right: 0px;
        flex-direction: column;
        background-color: rgb(207, 248, 243);
        border-bottom: 0.1vw solid lightgray;
        z-index: 1;
    }
    #nav-brand{
        width: 70%;
    }
    .nav-link{
        width: 100%;
        margin: 0px;
        justify-content: center;
        border-top: 0.1vw solid lightgray;
    }
    .nav-link>img{
        width: 2vw;
        padding: 0.2vw;
        aspect-ratio: 1/1;
    }
    .nav-link>p{
        margin: 2vw 0px;
        font-size: 1.6vw;
    }
    .navbar-toggler-custom{
        display: block;
        position: absolute;
        top: -82px;
        right: 0vw;
    }
    
}

/* treehouse/hamburger-menu by dustinusey -> github*/
.hamburger-menu {
    position: relative;
    cursor: pointer;
    padding: 1rem;
}
.ham-bar {
    width: 70%;
    height: 2px;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;
}
.bar-top {
    top: 25%;
}

.bar-bottom {
    top: 75%;
}
.hamburger-menu.ham-active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
    background-color: darkred;
}
.hamburger-menu.ham-active .bar-mid {
    opacity: 0;
    background-color: darkred;
}
.hamburger-menu.ham-active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
    background-color: darkred;
}



